class Man
{
 public void character()
 {
   System.out.println("The Man is Normal Man");
 }
}
class Angry extends Man
{
 public void character()
  {
   System.out.println("The Man was Dangerous Person");
  }
}
class Love extends Man
{
  public void character()
  {
   System.out.println("The Man was Lovable Person");
  }
}

public class Polymorphism
{
  public static void main(String args[])
  {
     Man m = new Angry();
     Man f = new Love();
     m.character();
     f.character();
  }
}
    
    
